@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

$border-radius-size: 14px;

$yellow: #ec9b3b;
$pink: #ee5487;
$orange: #f6901a;
$green: #82bb30;
$blue: #4facff;

*,
*:before,
*:after {
    box-sizing: border-box;
}

.clash-card {
    background: white;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    border-radius: $border-radius-size + 5;
    position: relative;
    text-align: center;
    box-shadow: -1px 15px 30px -12px black;
    z-index: 9999;

    .clash-card__image {
        position: relative;
        height: 230px;
        margin-bottom: 35px;
        border-top-left-radius: $border-radius-size;
        border-top-right-radius: $border-radius-size;
    
        img {
            position: absolute;
            top: -15%;
            left: -15%;
            height: 130%;
            object-fit: scale-down;
        }
    }
    
    .clash-card__level {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 3px;

        &.yellow { color: $yellow; }
        
        &.pink { color: $pink; }
        
        &.orange { color: $orange; }
        
        &.green { color: $green; }
        
        &.blue { color: $blue; }
    }
    
    .clash-card__name {
        font-size: 26px;
        color: black;
        font-weight: 900;
        margin-bottom: 5px;
    }
    
    .clash-card__description {
        color: #777;
        padding: 20px;
        margin-bottom: 10px;
    }
    
    .clash-card__stats {
        display: flex;
        color: white;
        font-weight: 700;
        border-bottom-left-radius: $border-radius-size;
        border-bottom-right-radius: $border-radius-size;

        &:after {
            visibility: hidden;
            display: block;
            font-size: 0;
            content: " ";
            clear: both;
            height: 0;
        }

        &.yellow {
            background: $yellow;
            .stat { border-right: 1px solid #bd7c2f; }
        }
        
        &.pink {
            background: $pink;
            .stat { border-right: 1px solid #d04976; }
        }
        
        &.orange {
            background: $orange;
            .stat { border-right: 1px solid darken($orange, 8%); }
        }
        
        &.green {
            background: $green;
            .stat { border-right: 1px solid darken($green, 6%); }
        }
        
        &.blue {
            background: $blue;
            .stat { border-right: 1px solid darken($blue, 6%); }
        }
    
        .stat {
            width: 100%;
            padding: 20px 15px;
        
            &:last-child {
                border-right: none !important;
            }
        }
    
        .stat-name {
            text-transform: uppercase;
            font-weight: 400;
            font-size: 12px;
        }

        .stat-value {
            position: relative;
            font-size: 24px;
            margin-bottom: 10px;
        }
    }
}