<div class="clash-card">
    <div class="clash-card__image" [style.background]="'url(' + bgImage + ')'">
        <img [src]="image" alt="{{ name }}"/>
    </div>

    <div class="clash-card__level" [ngClass]="color">Level {{ level }}</div>

    <div class="clash-card__name">{{ name }}</div>

    <div class="clash-card__description">
        {{ description }}
    </div>

    <div class="clash-card__stats clearfix" [ngClass]="color">
        <div *ngFor="let card of cardStats" class="one-third">
            <div class="stat">{{ card.value }}</div>
            <div class="stat-value">{{ card.name }}</div>
        </div>
    </div>
</div>